 .grid{
  display: grid;
  grid-template-columns: 10% 65% 20%;
  grid-template-rows: 300px;
 }

 /*********ICONO DE SALDO FLOTANTE****************/
 .motion{
  width: 0px;
  height: 65px;
  border-radius: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 5s ease-in-out infinite; 
}
@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
  
}


/******************************************PERFIL USUARIO***********************************************************/
 .perfilUser{
   position: relative;
   right: var(--margen3);
   top: var(--margen3);
 }

 /********************************************DATOS DE PERFIL USUARIO***************************************************/
 ul{
      list-style-type: none;
  }
  .datos{
        position: absolute;
        top: 45%;
        left: 15%;
        text-align: center;
  }
 