<div class="fondo">   
    <div class="grid">
        <div class="editar" (click)="mostrar = true">
            <img src="assets/iconos/edit.svg" alt="" width="30" height="30">
        </div>
        <div class="perfilUser">
            <app-avatar-user></app-avatar-user> 
        </div>
        <div class="saldo" >
            <app-info-saldo></app-info-saldo>   
        </div>
    </div>
    <div class="datos">
        <ul>
            <li>
                <div>
                    <a class="btn-neon">Favoritos ❤️ 
                     <!-- <span class="heart"></span> -->
                     <span id="span1"></span>
                     <span id="span2"></span>
                     <span id="span3"></span>
                     <span id="span4"></span>
                    </a>
                  </div>
                  
                  <div>
                    <a class="btn-neon">Historial de compras
                     <span id="span1"></span>
                     <span id="span2"></span>
                     <span id="span3"></span>
                     <span id="span4"></span>
                    </a>
                  </div>
                  <div>
                    <a class="btn-neon">Últimos jugados
                     <span id="span1"></span>
                     <span id="span2"></span>
                     <span id="span3"></span>
                     <span id="span4"></span>
                    </a>
                  </div>    
            </li>
            <a class="btn-cerrar" routerLink="['/home']">Cerrar sesión</a> 
        </ul> 
    </div>
    <div class="avatars-editables" *ngIf = "mostrar" (click)="mostrar = false" >
        <app-avatars-edit></app-avatars-edit>
    </div>
</div>