<div class="grid">
    <div class="editar">
        <img src="assets/iconos/edit.svg" alt="" width="30" height="30">
    </div>
    <div class="perfilUser">
        <app-avatar-user></app-avatar-user> 
    </div>
    <div class="motion">
            <img src="assets/img/saldo.png" alt="" width="20" height="50">6500
    </div>
   
</div>
<div class="datos">
    <ul>
        <li *ngFor="let opcion of opciones">
            <app-boton-neon [opcion]="opcion"></app-boton-neon>
        </li>
    </ul> 
</div>