<div class="fondo">
    <div class="loading" *ngIf = "load">
        <app-cargar-pagina></app-cargar-pagina>
    </div>
    
    <div class="grid">
        <div class="editar" (click)="mostrar = true">
            <img src="assets/iconos/edit.svg" alt="" width="30" height="30">
        </div>
        <div class="perfilUser">
            <app-avatar-user></app-avatar-user> 
        </div>
        <div class="saldo" >
                <img src="assets/img/saldo.png" class="motion" alt="" width="20" height="50">
                <p class="valor" (click)="info = true">6500</p>
                <div class="saldo-info" *ngIf = "info" (click)="info = false">
                    <app-info-saldo></app-info-saldo>
                </div>
        </div>
    </div>
    <div class="datos">
        <ul>
            <li *ngFor="let opcion of opciones">
                <app-boton-neon [opcion]="opcion"></app-boton-neon>    
            </li>
            <a href="#" class="btn-cerrar" (click)="load = true">Cerrar sesión</a> 
        </ul> 
    </div>
    <div class="avatars-editables" *ngIf = "mostrar" (click)="mostrar = false">
        <app-avatars-edit></app-avatars-edit>
    </div>
</div>