.card{
    position: absolute;
    margin: 40px;
    top: 72px;
    width: 285px;
    height: 400px;
    background-color: var(--color-body-oscuro);
    border: 5px solid;
    border-image: linear-gradient(#70eeff,#17cfc6,#165479) 1;
    animation: rotacion 2.5s ease-in infinite;
    -webkit-animation: rotacion 2.5s ease-in infinite;
}
@keyframes rotacion {
    50%{
        border-image: linear-gradient(360deg,#70eeff,#17cfc6,#165479) 1;
    }
    
}
h1{
    font-family: var(--fuente-general);
    position: absolute;
    top: var(--margen1);
    margin-left: var(--margen2);
    text-align: center;
    font-size: var(--h3-size);
}
.form-main{
    position: absolute;
}
.comment{
    position: absolute;
    top: 72px;
    height: 200px;
    width: 240px;
    background: rgba(255,255,255,.75);
    border: 2px solid var(--color-primario);
    margin-left: var(--margen2);
    cursor: text;
    font-family: var(--fuente-general);
}
button{
    font-family: var(--fuente-general);
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    border-image: linear-gradient(#70eeff,#17cfc6,#165479) 1;
    background: var(--color-primario-oscuro);
    color:  var(--color-txt-oscuro);
    cursor: pointer;
    overflow: hidden;
    transition: all .35s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
  
button:hover{
    background: var(--color-primario-oscuro);
    color: #fff;
  }
  
button span{
    opacity: 1;
    visibility: visible;
    transition: all .35s;
  }
  
.success{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primario-oscuro);
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .35s;
  }
  
.success svg{
    width: 20px;
    height: 20px;
    fill: var(--color-boton-jugar);
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg) scale(0);
    transition: all .35s;
  }
  
button.is_active{
    width: 40px;
    height: 40px;
  }
  
button.is_active .success{
    opacity: 1;
    visibility: visible;
  }
  
button.is_active .success svg{
    margin-top: 50%;
    transform: translateY(-50%) rotate(720deg) scale(1);
  }
  
button.is_active span{
    opacity: 0;
    visibility: hidden;
  }