<span class="spanNav"></span>
<footer>
    <div>
      <p class="parrafo">Encontranos en</p>
      <a href="https://www.facebook.com"><img src="assets/iconos/facebook.svg" id="facebook"></a>
      <a href="https://www.discord.com"><img src="assets/iconos/discord.svg" id="discord"></a>
      <a href="https://www.twitch.tv"><img src="assets/iconos/twitch.svg" id="twitch"></a>
      <a href="https://twitter.com"><img src="assets/iconos/twitter.svg" id="twitter"></a>
    </div>  
    <p class="parrafo2">Cada uno de los juegos pertenece a sus respectivos dueños.</p>
    <span class="copyrigth">&copy;2022 Island Games | Todos los derechos reservados. All rights reserved.</span>
  </footer>
