 <ul class="grid-avatars">
        <li><img src="assets/img/avatars/Avatar_cat1.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_cat2.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_cat3.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_cat4.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_cat5.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_cat6.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_cat7.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_cat8.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_cat9.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_cat10.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_cat11.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_cat12.svg" alt=""></li>
        <li><img src="assets/img/avatars/Avatar_ghost1.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_ghost2.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_ghost3.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_ghost4.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_ghost5.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_ghost6.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_ghost7.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_ghost8.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_ghost9.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_ghost10.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_ghost11.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_lion1.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_lion2.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_lion3.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_lion4.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_lion5.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_lion6.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_lion7.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_lion8.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_lion9.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men1.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men2.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men3.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men4.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men5.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men6.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men7.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men8.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men9.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men10.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men11.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men12.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men13.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men14.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men15.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men16.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men17.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men18.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men19.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men20.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men21.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men22.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men23.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men24.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men25.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men26.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men27.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men28.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men29.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men30.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men31.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men32.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men33.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men34.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men35.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men36.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_men37.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey1.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey2.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey3.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey4.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey5.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey6.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey7.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey8.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey9.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey10.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey11.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey12.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey13.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_monkey14.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman1.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman2.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman3.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman4.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman5.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman6.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman7.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman8.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman9.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman10.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman11.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman12.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman13.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman14.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman15.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman16.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman17.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman18.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman19.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman20.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman21.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman22.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman23.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman24.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman25.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman26.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman27.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman28.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman29.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman30.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman31.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman32.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman33.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman34.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman35.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman36.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman37.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman38.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman39.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman40.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman41.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman42.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman43.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman44.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman45.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman46.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman47.svg"alt=""></li>
        <li><img src="assets/img/avatars/Avatar_woman48.svg"alt=""></li>
 </ul>
 
 