/*=============== LAYOUT ===============*/
.container {
  margin-left: var(--margen3);
  margin-right: var(--margen3);
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-nav-oscuro);
  z-index: var(--z-fixed);
  transition: .4s;
}
.header_icon{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_icon_log{
  width: 50px;
  margin-top:var(--margen1);
}
 /*============== Busqueda ====================*/
 .header__search{
   display: flex;
   padding: .40rem .75rem;
   background: var(--color-nav-oscuro);
   border-radius:30px;
   border: 1px solid var(--color-primario);
 } 
 
 .header__input{
   width: 100%;
   border: none;
   outline: none;
   background: var(--color-nav-oscuro);
   color: white;
 }
 .header__input::placeholder{
   font-size: var(--normal-size);
   color:white;
  
 }
.search__icon{
  font-size: var(--h3-size);
  color: var(--color-primario);
 
}
.icon:hover{
  transform: rotate(360deg) scale(0.8);
}

.icon{
  color: var(--color-primario-oscuro);
  float:left;
  width: 18px;
  height:18px;
  border-radius:50%;
  display: flex;
  justify-content: left;
  align-items:center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration:none;
}
/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {  
  width: 2rem;
  border-radius: 50%;
  padding: .5rem 1.5rem 5rem;
}

.nav__logo {
  color: var(--color-txt-oscuro);
  font-family: var(--fuente-titulo);
  font-size: 24px;
  
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color-nav-oscuro);
    box-shadow: 0 -1px 5px var(--color-primario-claro);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    transition: .4s;
  }
  .nav__subList{
    display: none;
  }
  .nav__name_perfil{
    font-size: var(--regular-size);
    font-weight: var(--regular);
    color:white;
  }
  .nav__icon_perfil{
    width: 1.5rem;
    height: 1.5rem;
    font-size: var(--h3-size);
    color: var(--color-primario);
  }
  
  .nav__logo{
    display: none;
  }
  
  .header_icon{
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  .header__input::placeholder{
    font-size: var(--regular-size);
    
   
  }
  .search-box:hover > input{
    width:150px;
    padding: 14px 10px;
  }
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  font-weight: 600;
}


.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--regular-size);
  font-weight: var(--regular);
  color:white;
  
}

.nav__icon {
  width: 1.5rem;
  height: 1.5rem;
  font-size: var(--h3-size);
  color: var(--color-primario);
}

#checkbox{
  display: none;
}
.toggler{
  display: block;
  width: 3.75rem;
  height: 2rem;
  border: 2px solid var(--color-primario);
  border-radius:30px;
  position: relative;
  cursor: pointer;
}
.ball, 
.sun, 
.moon{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ball{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--color-primario-oscuro);
  border-radius: 50%;
  left:1px;
  z-index: 10;
  transition: transform .5s ease-in-out;
}
.sun, 
.moon{
  font-size: var(--normal-size);
  color:var(--color-primario-claro);
}
.sun{
  left: 5px;
}
.moon{
  right: 5px;
}
#checkbox:checked + .ball{
  transform: translate(29px, -50%);
}
/*======CHANGE BACKGROUND HEADER========*/
.scroll-header{
  box-shadow: 0 1px 5px var(--color-primario-claro);
}


@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
  
  
}
@media screen and (max-width: 360px) {
  .header__search{
    width: 11.25rem;
    height:2rem;
    padding: .55rem .75rem;
  }
  .search__icon{
    font-size: 16px;
  }
  .toggler{
    width: 60px;
  }

  
}


@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
  .header__search{
    width: 50%;
  }
  
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .header__search{
    width: 28rem;
	  height: 2.5rem;
    padding: .55rem .75rem;
  }
   
  .nav {
    height: calc(var(--header-height) + 2rem); 
    margin-left: var(--margen4);
    margin-right: var(--margen4);
    box-shadow: 0 -1px 5px var(--color-primario-claro);
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__icon_perfil{
	  display: block;
	  width: 1.875rem;
	  height: 1.875rem;
	  align-content: center;
  }
  .nav__name_perfil{
	  display: none;
  }
  .nav__list{
	  display: flex;
	  align-content: center;
	  justify-content:space-around;
  }
  
  .nav__name {
    font-size: var(--normal-size);
    text-align: center;
    color:var(--color-primario);
  }  
    
  .nav__menu
  .nav__item
  .nav__link{
    padding:2rem 2rem 1.5rem  2rem ;
	  margin-right: 16px;
   
  }
  .nav__icon_categ{
    width: 1rem;
    height: 1.5rem;
    font-size: var(--h3-size);
    color: var(--color-txt-oscuro);
  }
  
  .nav__subList{
    display: flex;
  }
  .nav__menu ul li ul{
    display: none;  
    position: absolute;
    background-color: var(--color-nav-oscuro);
    align-content: center;    
  }
  .nav__menu ul li:hover ul{
    display: block;

  }
  .nav__menu ul li ul li {
    width: 109%;
     
  }
  .nav__menu ul li ul li a{
    padding: 1.5rem 2rem;
    line-height: unset;
    white-space: nowrap;
  }
 
  .toggler{
    left:-50%;
  }
  .active{
    background-color: var(--color-primario);
    transition: .4s;
  }
  .nav__name{
    color: white;
  }

}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto; 
  }
  
}
  