 <!--=============== HEADER ===============-->
 <header class="header" id="header">
    <nav class="nav container">
        <div class="header_icon">
            <img class="header_icon_log" src="assets/img/logo.png">
            <a href="#home" class="nav__logo">Island Games</a>
            
            <label class="search-box" for="search-box">
                <input type="text" palaceholder="">
                <a href="##" class="icon">
                    <img class="search__icon" src="assets/iconos/search.svg">
                </a>
            </label>                       
        </div>
        
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
            
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">                      
                        <img class="nav__icon" src="assets/iconos/inicio.svg">
                        <span class="nav__name">Inicio</span>
                    </a>
                </li>
                
                <li class="nav__item">
                    <a href="#market" class="nav__link">                       
                        <img class="nav__icon" src="assets/iconos/tienda.svg">
                        <span class="nav__name">Tienda</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#category" class="nav__link">                       
                        <img class="nav__icon" src="assets/iconos/categoria.svg">
                        <span class="nav__name">Categorías</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#user" class="nav__link">
                        <img class="nav__icon" src="assets/iconos/usuario.svg">
                        <span class="nav__name">Perfil</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <label for="checkbox" class="toggler">
                <input type="checkbox" id="checkbox">
                <span class="ball"></span>
                <img class="sun" src="assets/iconos/sol.svg">
                <img class="moon" src="assets/iconos/luna.svg">
                
            </label>
        </div>
    </nav>
</header>    
