/******************AVATAR*****************************************/
.corbata{
  position: relative;
  z-index: -1;
}
.nombreUsuario{
  position:relative;
  z-index: 1;
  font-family: var(--fuente-general);
  font-size: var(--h3-size);
  top: -120px;
  left: var(--margen5);
}
.nivelJugador{
  z-index: 1;
  position: relative;
  font-family: var(--fuente-general);
  font-size: (--normal-size);
  top: var(--margen4);
  left: var(--margen6);
  text-align: center;
  width: 72px;
  height: 25px;
  background-color: var(--color-body-oscuro);
  border-color: var(--color-primario);
  border-radius: 5px;
  box-shadow: 0 0 var(--margen1) var(--color-primario);
  

}
.avatarCont{
    position: absolute;
    top: 150px;
    left: 100px;
    transform: translate(-40%,-50%);
    width: 200px;
    height: 200px;
    box-sizing: border-box;
  }
  .avatarCont .face{
    position: absolute;
    }
  .avatarCont:hover{
    box-shadow: 0 0 var(--margen1) var(--color-primario);
    border-radius: 50%;
  }
  .avatarCont .face.face1{
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-body-oscuro);
    border-radius: 50%;
    border-right: 2px solid var(--color-txt-oscuro);
    border-left: 2px solid var(--color-txt-oscuro);
    border-top: 2px solid var(--color-txt-oscuro);
    animation: animate 10s linear infinite;
  }
  .avatarCont .face.face2{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-body-oscuro);
    border-radius: 50%;
    border-left: 2px solid var(--color-primario);
    border-top: 2px solid var(--color-primario);
    animation: animate2 10s linear infinite;
  }
  .avatarCont .avatar{
          position: relative;
          top: var(--margen2);
          left: var(--margen3);        
  } 
  @keyframes animate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
    @keyframes animate2 {
    0%{
      transform: rotate(360deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }