<div class="container">
    <div class="ejecucion">
        <input type="radio" name="modal" id="pausa">
        <label  for="pausa-juego" id="pausa-juego"><img src="../../assets/iconos/pausa.svg" class="icono"></label>
        <input type="radio" name="modal" id="reanudar">
        <label for="reanudar-juego">
            <a class="btn-reanudar">Reanudar</a>
        </label>
    </div>
   <button class="btn-salir">Salir</button>
   <img src="../../assets/img/warcraft-arclight-juego-en-ejecucion.jpg">
</div>
