<div class="fondo">
    <div class="juego">
       <img class="play" src="assets/iconos/play_game.svg" [routerLink]="['/como-jugar']">
        <!-- <img class="lugar-juego" src="assets/img/juegos/aventura3_warcraft_arclight_rumble.png" alt=""> -->
        <img class="compartir" src="assets/iconos/compartir.svg" alt="">
        <div class="container">
            <span class="heart"></span>
        </div>
    </div>
    <p class="intro">
        ⚔️ Toma el mando de un ejército de miniaturas para derrotar a personajes y 
        jefes del universo Warcraft.<br>
        ⚔️ Juega con héroes tan conocidos como Jaina Valiente, Grommash Grito Infernal
        y muchos otros.<br>
        ⚔️ Descubre nuevos mapas y jefes mientras te abres paso luchando por todo Azeroth.
    </p>
    <h1 class="titulo">Jugabilidad</h1>
    <div class="jugabilidad">
        <iframe width="360" height="315" src="https://www.youtube.com/embed/tqnFIohEQ1M?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="publicidad">
        <img src="./../../assets/img/publicidad.jpg" alt="">
    </div>
    <h1 class="titulo">Comunidades</h1>
    <div class="comunidades">
        <img id="facebook" src="../../assets/iconos/facebook.svg" alt="">
        <img id="discord" src="../../assets/iconos/discord.svg" alt="">
        <img id="twitch" src="../../assets/iconos/twitch.svg" alt="">
        <img id="youtube" src="../../assets/iconos/youtube.svg" alt="">
        <p>Aqui encontrarás mas gente fanatica del juego! Unete a ellos y diviertete a lo grande</p>
    </div>
    <h1 class="titulo">Imagenes</h1>
    <div class="carrusel">
        <img src="../../assets/img/carrucel-juego-warcraft1.jpg" alt="">
        <img src="../../assets/img/carrucel-juego-warcraft2.jpg" alt="">
        <img src="../../assets/img/carrucel-juego-warcraft3.jpg" alt="">
        <img src="../../assets/img/carrucel-juego-warcraft4.jpg" alt="">
        <img src="../../assets/img/carrucel-juego-warcraft5.jpg" alt="">
    </div>
</div>


