body{
    margin: 15px;
    padding: 30px;
    display: flexbox;
    background: #0c0f20;
    font-family: 'Noto Sans', sans-serif;
  }
  h1{
      color: #fff;
  }
  p{
      color: #fff;
  }
  .btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 15px;
    color: #fff;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 8px;
  }
  
  .btn-neon:hover{
    background-color: #01828E;
    box-shadow: 0 0 20px #03D4E7;
  }
  .btn-neon span{
    position: absolute;
    display: block;
  }
  #span1{
    top:0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent,#03D4E7);
  }
  .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
  }
  #span3{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent,#03D4E7);
  }
  .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  #span2{
    top:-100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#03D4E7);
  }
  .btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  #span4{
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent,#03D4E7);
  }
  .btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }