<section class="container section" id="home">
    <div class="section_height">
        <h2 class="section__title">Ultimos agregados</h2>
        <i class='bx bx-right-arrow-alt header__icon'></i>
    </div>
    <div class="galeria">
        <div class="lista-imagenes">
            <img src="assets/img/juegos/aventura3_warcraft_arclight_rumble.png" [routerLink]="['/juego']">
            <img src="assets/img/juegos/mesa1_ajedrez_clash_of_kings.jpg" alt="">
            <img src="assets/img/juegos/carreras3_nfs_sin_limites.png" alt="">
            <img src="assets/img/juegos/accion9_hitman_sniper.png" alt="">
            <img src="assets/img/juegos/aventura1_sonic_force.png" alt="">
            <img src="assets/img/juegos/accion6_swamp_attack.png" alt="">
        </div>
        <div class="carrusel">
            <img src="assets/img/juegos/accion1_hollow_knight 1.png" alt="">
            <img src="assets/img/juegos/aventura8_dentures_and_demons.jpg" alt="">
            <img src="assets/img/juegos/aventura9_forgotton_anne.jpg" alt="">
        </div>
        <div class="section_height">
            <h2 class="section__title">Gratis</h2>
            <i class='bx bx-right-arrow-alt header__icon'></i>
        </div>
        <div class="lista-imagenes">
            <img src="assets/img/juegos/aventura4_tinker_island.png" alt="">
            <img src="assets/img/juegos/casino7_blackJack.png" alt="">
            <img src="assets/img/juegos/rol7_identity_V.png" alt="">
            <img src="assets/img/juegos/rol8_star_wars_galaxy_of_heroes.png" alt="">
            <img src="assets/img/juegos/rol9_exos_heroes.png" alt="">
            <img src="assets/img/juegos/rol6_guardians_of_cloudia.png" alt="">
        </div>
            <h2 class="section__title">De prueba</h2><div class="live"> <a>?</a> </div>
        <div class="lista-imagenes">
            <img src="assets/img/juegos/accion1_hollow_knight 1.png" alt="">
            <img src="assets/img/juegos/aventura5_jekill_y_hyde.png" alt="">
            <img src="assets/img/juegos/aventura9_forgotton_anne.jpg" alt="">
            <img src="assets/img/juegos/mesa5_mansiones_de_la_locura.jpg" alt="">
            <img src="assets/img/juegos/rol1_Botworld_adventure.png" alt="">
            <img src="assets/img/juegos/carreras4_earn_to_die_2 1.png" alt="">
        </div>
        <div class="imagen-publicidad">
            <img src="assets/img/publicidad.jpg" alt="">
        </div>
        <div class="section_height">
            <h2 class="section__title">Acción</h2>
            <i class='bx bx-right-arrow-alt header__icon'></i>
        </div>
        <div class="lista-imagenes">
            <img src="assets/img/juegos/accion1_hollow_knight 1.png" alt="" class="item">
            <img src="assets/img/juegos/juegos/accion2_apex 1.png" alt="" class="item">
            <img src="assets/img/juegos/accion3_pokemon 1.png" alt="" class="item">
            <img src="assets/img/juegos/accion4_shadow_fight_2 1.png" alt="" class="item">
            <img src="assets/img/juegos/accion5_alto's_odyssey 1.png" alt="" class="item">
            <img src="assets/img/juegos/accion6_swamp_attack.png" alt="" class="item">
            <img src="assets/img/juegos/accion7_crossy_road.png" alt="" class="item">
            <img src="assets/img/juegos/accion8_dead_cells.jpg" alt="" class="item">
            <img src="assets/img/juegos/accion9_hitman_sniper.png" alt="" class="item">
        </div>
        <div class="section_height">
            <h2 class="section__title">Aventura</h2>
            <i class='bx bx-right-arrow-alt header__icon'></i>
        </div>
        <div class="lista-imagenes">
            <img src="assets/img/juegos/aventura1_sonic_force" alt="" class="item">
            <img src="assets/img/juegos/juegos/aventura2_oddomar.png" alt="" class="item">
            <img src="assets/img/juegos/aventura3_warcraft_arclight_rumble" alt="" class="item">
            <img src="assets/img/juegos/aventura4_tinker_island.png" alt="" class="item">
            <img src="assets/img/juegos/aventura5_ekill_y_hyde.png" alt="" class="item">
            <img src="assets/img/juegos/aventura6_amnesia_juego_de_escape_de_casa.png" alt="" class="item">
            <img src="assets/img/juegos/aventura7_cat_bird.png" alt="" class="item">
            <img src="assets/img/juegos/aventura8_dentures_and_demons.jpg" alt="" class="item">
            <img src="assets/img/juegos/aventura9_forgotton_anne.jpg" alt="" class="item">
        </div>
    
        <div class="section_height">
            <h2 class="section__title">Carrera</h2>
            <i class='bx bx-right-arrow-alt header__icon'></i>
        </div>
        <div class="lista-imagenes">
            <img src="assets/img/juegos/carrera1_beach_buggy_racing1.png" alt="" class="item">
            <img src="assets/img/juegos/carrera2_traffic_rider.png" alt="" class="item">
            <img src="assets/img/juegos/carrera3_nfs_sin_limites.png" alt="" class="item">
            <img src="assets/img/juegos/carrera4_ear_to_die21png" alt="" class="item">
            <img src="assets/img/juegos/carrera5_carx_highway_racing.jpg" alt="" class="item">
            <img src="assets/img/juegos/carrera6_deliver_it_3d.png_" alt="" class="item">
            <img src="assets/img/juegos/carrera7_data_wing.png_" alt="" class="item">
            <img src="assets/img/juegos/carrera8_asphalt9.jpg_" alt="" class="item">
            <img src="assets/img/juegos/carrera9_nitro_nation_car.png_" alt="" class="item">
        </div>                 
    </div>
</section>
