<section class="container section section_height" id="home">
    
    <h2 class="section__title">Ultimos Agregados</h2>
    <div class="galeria">
       <div class="lista-imagenes">
            <img src="assets/img/juegos/aventura3_warcraft_arclight_rumble.png" alt="">
            <img src="assets/img/juegos/mesa1_ajedrez_clash_of_kings.jpg" alt="">
            <img src="assets/img/juegos/carreras3_nfs_sin_limites.png" alt="">
            <img src="assets/img/juegos/accion9_hitman_sniper.png" alt="">
            <img src="assets/img/juegos/aventura1_sonic_force.png" alt="">
            <img src="assets/img/juegos/accion6_swamp_attack.png" alt="">
        </div>
        
       <div class="carrusel">
           <img src="assets/img/juegos/accion1_hollow_knight 1.png" alt="">
           <img src="assets/img/juegos/aventura8_dentures_and_demons.jpg" alt="">
           <img src="assets/img/juegos/aventura9_forgotton_anne.jpg" alt="">
       </div>
       <h2 class="section__title">Gratis</h2>
       <div class="lista-imagenes">
           <img src="assets/img/juegos/aventura4_tinker_island.png" alt="">
           <img src="assets/img/juegos/casino7_blackJack.png" alt="">
           <img src="assets/img/juegos/rol7_identity_V.png" alt="">
           <img src="assets/img/juegos/rol8_star_wars_galaxy_of_heroes.png" alt="">
           <img src="assets/img/juegos/rol9_exos_heroes.png" alt="">
           <img src="assets/img/juegos/rol6_guardians_of_cloudia.png" alt="">
       </div>
       <h2 class="section__title">De prueba</h2>
       <div class="live">
            <a>?</a>
        </div>
       <div class="lista-imagenes">
           <img src="assets/img/juegos/accion1_hollow_knight 1.png" alt="">
           <img src="assets/img/juegos/aventura5_jekill_y_hyde.png" alt="">
           <img src="assets/img/juegos/aventura9_forgotton_anne.jpg" alt="">
           <img src="assets/img/juegos/mesa5_mansiones_de_la_locura.jpg" alt="">
           <img src="assets/img/juegos/rol1_Botworld_adventure.png" alt="">
           <img src="assets/img/juegos/carreras4_earn_to_die_2 1.png" alt="">
       </div>
       <div class="imagen-publicidad">
           <img src="assets/img/publicidad.jpg" alt="">
       </div>
    </div>

</section> 