/**************pulso*******************/
.live{
  position: relative;
  bottom: 50px;
  left: 120px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color-primario-oscuro);
  animation: pulse 1500ms infinite;
  text-align: center;
  margin: 0;
}

@keyframes pulse {
  0%{
    box-shadow: rgb(1, 130, 142) 0 0 0 0;
  }
  75%{
    box-shadow: rgba(1, 130, 142,0) 0 0 0 16px ;
  }
  
}

/*============================= Home ===============================*/
.section__title{
    font-size: var(--normal-size);
    font-weight: var(--Bold);
    padding:var(--margen3) var(--margen3) var(--margen3) 0;
  }
  .galery{
    padding: var(--margen3);
  }
 
  .imagen-publicidad{
    width: 100%;
    object-fit: cover;
    display: block;
  }
  .lista-imagenes img{
    width: 100%;
    object-fit: cover;
    margin-right: var(--margen3);
    display: block;
    width: 324px;
    height: 74px; 
  }
  
  .lista-imagenes img{
    width: 100%;
    object-fit: cover;
    margin-right: var(--margen3);
    display: block;
    width: 88px;
    height: 140px; 
  }
  .lista-imagenes{
    display: flex;
    overflow-y:auto;
    margin-bottom: var(--margen3);
  }
  .carrusel{
    display: flex;
    overflow-y:auto;
    margin-top: var(--margen3);
  
  }
  .carrusel img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: var(--margen3);
    display: block;
    width: 310px;
    height: 151px;
  }