<div class="container">
    <div class="filtros">
        <div class="ordenar">
            <p>Ordenar <img src="../../assets/iconos/a_z.svg" alt=""></p>
        </div>
        <div class="filtrar">
            <input type="radio" name="modal" id="abrir-modal">
            <label for="abrir-modal">Filtrar <img src="../../assets/iconos/filter.svg" class="img-fil"></label>
            <input type="radio" name="modal" id="cerrar-modal">
            <label for="cerrar-modal"><img src="../../assets/iconos/flecha.png" class="img-fil-vol" id="img"></label>
            <div id="modal">
                <ul>
                    <li>Gratis</li>
                    <li>Pagos</li>
                    <li>Ultimos lanzamientos</li>
                    <li>Ver todos los juegos</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-info">
        <p>No se encontraron resultados para su busqueda</p>
        <img src="../../assets/iconos/sad.svg" class="img-card">
    </div>
</div>













