<div class="container">
    <div class="contenedor">
        <h1 class="titulo">Preguntas frecuentes</h1>
        <div class="grid-contenedor">
            <ul>
                <li>
                    <h3 class="pregunta">
                        ¿Necesito crearme una cuenta para jugar?
                    </h3>
                    <p class="respuesta">
                        No,no necesitas crear una cuenta para jugar cualquira
                        de nuestros juegos gratuitos o de prueba.
                    </p>
                </li>
                <li>
                    <h3 class="pregunta">
                        ¿Qué beneficios tengo si creo una cuenta?
                    </h3>
                    <p class="respuesta">
                        Podrás guardar tus juegos favoritos, tener un historial 
                        de ultimos juegos que hayas jugado, subiras de nivel mediante 
                        juegues y tendrás acceso a la tienda.
                    </p>
                </li>
                <li>
                    <h3 class="pregunta">
                        ¿Qué son "juegos de prueba"?
                    </h3>
                    <p class="respuesta">
                        Son juegos que podrás jugar de forma gratuita hasta un cierto nivel.
                        Dentro del juego tu personaje irá subiendo de nivel hasta que se bloquee
                        y no puedas seguir hasta comprarlo. Para comprar cualquier juego debes tener una cuenta.
                    </p>
                </li>
                <li>
                    <h3 class="pregunta">
                        ¿Qué es Island Point?
                    </h3>
                    <p class="respuesta">
                        Es la moneda del juego con la cual podrás comprar distintos juegos.
                    </p>
                </li>
                <li>
                    <h3 class="pregunta">
                        ¿Cómo obtengo Island Point?
                    </h3>
                    <p class="respuesta">
                        podrás comprarlos en la tienda por dinero real (todas las compras
                        de Island Point se efectuan en dolares).
                    </p>
                </li>
                <li>
                    <h3 class="pregunta">
                        ¿Cuáles son las formas de pago?
                    </h3>
                    <p class="respuesta">
                       Tarjeta de credito o débito y PayPal (en un futuro agregaremos mas 
                       formas de pago).
                    </p>
                </li>
                <li>
                    <h3 class="pregunta">
                        ¿Como puedo compartir el puntaje de mis partidas?
                    </h3>
                    <p class="respuesta">
                        Deberas iniciar sesión con tu cuenta de Facebook, pero no te preocupes
                        si ya tienes una cuenta de Island Games sin estas enlazada con Facebook, podráshacerlo en el momento,
                        ¡No te olvides de aceptar la condición de que podamos publicar el puntaje
                        del juego en tu perfil.
                    </p>
                </li>
                <li class="servis-ayuda">
                    <p class="respuesta">
                        Si aún tienes dudas contactate con nuestro servicio de asistencia al cliente haciendo click <a>aquí</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
   
</div>
