<div>
    <app-login-fondo></app-login-fondo>
    <div class="opcion-inicio">
        <ul>
            <div>
              </div>
            <li>
                <div>
                    <a class="btn-neon" id="btn-1" [routerLink]="['/login-cuenta']">Iniciar Sesión
                     <span id="span1"></span>
                     <span id="span2"></span>
                     <span id="span3"></span>
                     <span id="span4"></span>
                    </a>
                  </div>
            </li>
            <li>
                  <div>
                    <a class="btn-neon" id="btn-2" [routerLink]="['/login-facebook']">Iniciar Sesión con Facebook
                     <span id="span1"></span>
                     <span id="span2"></span>
                     <span id="span3"></span>
                     <span id="span4"></span>
                    </a>
                  </div>    
            </li>
        </ul> 
    </div>
    <div class="linea"></div><p>ó</p><div class="linea2"></div>
    <a class="btn-crearCuenta" [routerLink]="['/crear-cuenta']">Crear cuenta</a>
</div>


