@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Noto+Sans:wght@300;400;500;700;900&display=swap');
/*font-family: 'Comforter Brush', cursive;
font-family: 'Noto Sans', sans-serif;*/
:root{
    /*********************************COLORES****************************************************************/
    --color-primario:rgb(3, 212, 231);
    --color-primario-oscuro:rgb(1, 130, 142);
    --color-primario-claro:rgb(93, 223, 235);

    --color-secundario:rgb(211, 2, 165);
    --color-secundario-oscuro:rgb(138, 0, 108);
    --color-secundario-claro:rgb(223, 86, 193);

    --color-body-oscuro:rgb(12, 15, 32);
    --color-body-claro: rgb(251, 251, 254);
    --color-txt-claro:rgb(36, 35, 41);
    --color-txt-oscuro:rgb(255, 255, 255);
    --color-txt-input:rgb(109, 106, 124);
    
    --color-boton-jugar:rgb(36, 193, 21);
    --color-boton-aviso:rgb(254, 225, 64);
    --color-boton-alerta:rgb(187, 45, 59);
    --color-boton-aceptar:rgb(22, 111, 229);
    
    --color-borde-input-facebook:rgb(63, 87, 147);

    /*******************************TIPOGRAFIAS**************************************************************/

    --fuente-titulo:'Comforter Brush', cursive;
    --fuente-general:'Noto Sans', sans-serif;

    --h1-size:48px;
    --h2-size:32px;
    --h3-size:24px;
    --h4-size: 16;
    --normal-size:18px;
    --regular-size:12px;
    --txt-icono-size:10px;

    /********************************FONT-WEIGHT***********************************************************/

    --regular:400;
    --medium:500;
    --Bold:700;
    --black:900;

    /******************************MARGENES**************************************************************/

    --margen1:8px;
    --margen2:16px;
    --margen3:24px;
    --margen4:32px;
    --margen5:48px;
    --margen6:64px;
    --margen7:72px;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*****************************BODY-DARK*************************************************************/

    --body-oscuro:var(--color-body-oscuro);
    --color-icono: var(--color-primario);
    --color-nav-oscuro: rgb(22, 26, 46);

   
    /*******************************BODY-DEGRADE********************************************************/
    
}
/****************************BODY-LIGHT***********************************************************/
body.dark-theme{

    --body-oscuro:var(--color-body-claro);
    --color-icono: var(--color-body-oscuro);
    --color-nav-oscuro: rgb(255, 255, 255);


  }
/****************************Estilos generales***********************************************************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* html{
    scroll-behavior: smooth;
} */
body{
<<<<<<< HEAD
    background-color: var(--body-oscuro); 
=======
    margin: var(--header-height) 0 0 0;
    /*background-color: var(--body-oscuro);*/
    background-color: linear-gradient(rgba(12,15,35,0.80), rgba(3, 212, 231, 0.79));
>>>>>>> c7ecc5235215b8f03a6f6a413a1035b44d3b6aa6
    color: var(--color-txt-oscuro);
    font-family: var(--fuente-general);
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}
img {
    max-width: 100%;
    height: auto;
  }