<section class="container section section_height" id="action">
    <h2 class="section__title">Acción</h2>
    <div class="contenedor_imagenes">
        <!--album-->
        <div class="imagen">
            <div class="point">
               <!--<img class= "icon_saldo" src="assets/img/img/saldo.png" alt="">-->
                <p class="info_saldo">500</p>
            </div>
            <img src="assets/img/juegos/accion1_hollow_knight 1.png" alt="" class="item">
            <div class="info">
                <h2 class="titulo_info">Hollow Knight</h2>
            </div>
        </div>

        <div class="imagen">
            <img src="assets/img/juegos/accion2_apex 1.png" alt="">
            <div class="info">
                <h2 class="titulo_info">Apex</h2>
            </div>
        </div>

        <div class="imagen">
            <img src="assets/img/juegos/accion3_pokemon 1.png" alt="" class="item">
            <div class="info">
                <h2 class="titulo_info">Pokemon</h2>
            </div>
        </div>

        <div class="imagen">
            <img src="assets/img/juegos/accion4_shadow_fight_2 1.png" alt="" class="item">
            <div class="info">
                <h2 class="titulo_info">Shadow Fight</h2>
            </div>
        </div>

        <div class="imagen">
            <img src="assets/img/juegos/accion5_alto's_odyssey 1.png" alt="" class="item">
            <div class="info">
                <h2 class="titulo_info">Alto's odyssey</h2>
            </div>
        </div>

        <div class="imagen">
            <img src="assets/img/juegos/accion6_swamp_attack.png" alt="" class="item">
            <div class="info">
                <h2 class="titulo_info">Swamp Attack</h2>
            </div>
        </div>

        <div class="imagen">
            <img src="assets/img/juegos/accion7_crossy_road.png" alt="" class="item">
            <div class="info">
                <h2 class="titulo_info">Crossy Road</h2>
            </div>
        </div>

        <div class="imagen">
            <img src="assets/img/juegos/accion8_dead_cells.jpg" alt="" class="item">
            <div class="info">
                <h2 class="titulo_info">Dead cells</h2>
            </div>
        </div>

        <div class="imagen">
            <img src="accion9_hitman_sniper.png" alt="" class="item">
            <div class="info">
                <h2 class="titulo_info">Hitman Sniper</h2>
            </div>
        </div>
    </div>
</section>
